<form action="" method="POST" enctype="multipart/form-data">
     <div class="header">
     <div class="titulo">
         <h1>Nuevo producto</h1>
     </div>
     <div class="submit">
         <i class="fas fa-upload"></i>
         <button type="submit" value="Enviar">
             Cargar nuevo producto
         </button>
     </div>
     </div>
     <div class="form">
         
         <section class="col1">
             <div class="categorias">
             <label for="categoria">Categoría</label>
             <select name="categoria" id="categoria">
                 <option value="seleccionar_categoria" selected disabled hidden>Seleccione categoria</option>
                 <% for (let categoria of categorias) {%>
                    <option value="<%= categoria.id_categoria %>  "><%= categoria.nombre_categoria %></option>
                 <% } %> 
             </select>
             </div>

             <div class="genero">
             <label for="genero">Género</label>
             <select type="text" name="genero" id="genero">
                 <option value="seleccionar_genero" selected disabled hidden required>Seleccione genero</option>
                 <% for (let genero of generos) { %>
                    <option value="<%= genero.id_genero %>"><%= genero.nombre_genero %></option> 
                 <% } %> 
             </select>
             </div>

             <div class="nombre">
             <label for="nombre">Nombre del producto</label>
             <input type="text" name="nombre" id="nombre">
             </div>

             <div class="color">
             <label for="color">Color</label>
             <select name="color" id="color">
                 <option value="seleccionar_color" selected disabled hidden>Seleccione color</option>
                 <% for (let color of colores){ %> 
                    <option value="<%= color.id_color %> "><%= color.nombre_color %></option>
                 <% } %> 
             </select>
             </div>
         </section>

         <section class="col2">
             <div class="talle">
             <label for="talle">Talle</label>
             <select name="talle" id="talle">
                 <option value="seleccionar_talle" selected disabled hidden>Seleccione talle</option>
                 <% for (let talle of talles){ %> 
                    <option value="<%= talle.id_talle %> "><%= talle.nombre %> </option>
                 <% } %> 
             </select>
             </div>

             <div class="cantidad">
             <label for="cantidad">Cantidad</label>
             <input type="number" name="cantidad" id="catidad">
             </div>

             <div class="precio">
             <label for="precio">Precio</label>
             <input type="number" name="precio" id="precio">
             </div>

             <div class="descripcion">
             <label for="descripcion">Descripción general</label>
             <textarea name="descripcion" id="descripcion" cols="30" rows="5" placeholder="Descripción"></textarea>
             </div>
         </section>

         <section class="col3">
             <div class="modelo">
             <label for="modelo">Modelo</label>
             <input type="text" placeholder="Slim/Regular Fit"name="modelo">
             </div>

             <div class="composicion">
             <label for="composicion">Composición</label>
             <input type="text" name="composicion" id="composicion">
             </div>

             <div class="sku">
             <label for="sku">SKU</label>
             <input type="number" name="sku" id="sku" value="<%= skuDisponible %>">
             </div>


             <div class="fotos">
             <label for="fotoProducto"><i class="fas fa-plus-circle"></i> Fotos</label>
             <input type="file" name="fotoProducto" id="fotoProducto">
             </div>
         </section>
         
     </div>   

     </form>