<section class="login">
       
     <div class="cajaLogin">

          <div class="heading">
               <h2 class="titulo">INICIAR SESIÓN</h2>
               <% if (bienvenida == undefined) { %>
                    <p>Todavía no estás registrado? <a href="/usuarios/register">Crear una cuenta.</a></p>
               <% } else if ( error ){%>
                    <p><%= bienvenida %><a href="/usuarios/register"> haciendo click aquí</a></p>
                    <%}else{%>
                         <p><%= bienvenida %><a href="/usuarios/register"> haciendo click aquí</a></p>
                    <% }%>
          </div>

          <form id="form" class="formLogin" action="" method="POST">

               <div class="email">

                    <label class="campoDatos"for="email">
                         <p>Email</p>
                         <i class="fas fa-envelope"></i>
                         <input type="email" name="email"id="email" value="<%= (typeof datosYaCargados != 'undefined' && !errors.email) ? datosYaCargados.email : ""%>">
                    </label>
                    <div class="error">
                         <small class="error"><%=(locals.errors && errors.email) ? errors.email.msg : ""%></small>
                         <small class="errorEmailFront"></small>
                    </div>
               </div>

               <div class="contraseña">

                    <label class="campoDatos"for="password"><i class="fas fa-key"></i>
                         <p>Contraseña</p>
                         <input type="password" name="password"id="password">
                    </label>

                    <div class="error">
                         <small class="error"><%=(locals.errors && errors.password) ? errors.password.msg : ""%></small>
                    </div>

                    <div class="olvide">
                         <a href="">Olvidé mi contraseña</a>
                    </div>
               </div>

               <div class="recuerdame" for="remember">
                    <input type="checkbox" name="remember" value="remember" id="remember">
                    <label for="remember">Recuérdame</label>
               </div>

               <div class="submit">
                    <button type="submit" id="botonIngreso" class="usuario inicio"> 
                         <i class="fas fa-sign-in-alt"></i>  Ingresar
                    </button>
               </div> 
                
               <p>o</p>
          </form>
     

     <div class="redes">
          
          <button class="google" type="submit"value="Google"><i class="fab fa-google"></i> Google</button>
          <button class="facebook" type="submit"value="facebook"><i class="fab fa-facebook"></i> Facebook</button>
         
     </div>
     
     </div>

</section>

