<section class="registro">
               
               
     <div class="cajaRegistro">
          <div class="heading">
               <h1 class="titulo">REGISTRARSE</h1>
               <p>Ya estás registrado? <a href="/usuarios/login">Iniciá sesión</a></p>
          </div>
          
          <form class="form formularioRegistro" action="" method="POST"  enctype="multipart/form-data">
               
               
               <div class="field">
                    <div class="nombres">
                         <label class="campoDatos"for="nombre"name="nombre">
                              <p>Nombre</p>
                              <i class="fas fa-id-card"></i>
                              <input type="text"name="nombre"id="nombre" value="<%= (typeof datosYaCargados != 'undefined' && !errors.nombre) ? datosYaCargados.nombre : ""%>">
                         </label>
                         <div class="error">
                              <small class="error"><%=(locals.errors && errors.nombre) ? errors.nombre.msg : "" %> </small>
                         </div>
                    </div>
                         
                    <div class="nombres">
                         <label class="campoDatos"for="apellido"name="apellido">
                              <p>Apellido</p>
                              <i class="far fa-id-card"></i>
                              <input type="text"name="apellido"id="apellido" value="<%= (typeof datosYaCargados != 'undefined' && !errors.apellido) ? datosYaCargados.apellido : ""%>">
                         </label>
                         <div class="error">
                              <small class="error"><%=(locals.errors && errors.apellido) ? errors.apellido.msg : ""%></small>
                         </div>
                    </div>
               </div>


               <div class="email">
                    <label class="campoDatos" for="email"name="email">
                         <p>Email</p>
                         <i class="fas fa-envelope"></i>
                         <input type="email"name="email" id="email" value="<%= (typeof datosYaCargados != 'undefined' && !errors.email) ? datosYaCargados.email : ""%>">
                    </label>
                    <div class="error">
                         <small class="error"><%=(locals.errors && errors.email) ? errors.email.msg : ""%></small>
                    </div>
               </div>
               

               <div class="field">
                    <div class="contraseñas">
                         <label class="campoDatos"for="password"name="password">
                              <p>Contraseña</p>
                              <i class="fas fa-key"></i>
                              <input type="password"name="password"id="password" value="<%= (typeof datosYaCargados != 'undefined' && !errors.password) ? datosYaCargados.password : ""%>" >
                         </label>
                         <div class="error">
                              <small class="error"><%=(locals.errors && errors.password) ? errors.password.msg : ""%></small>
                         </div>
                    </div>

                    

                    <div class="contraseñas">
                         <label class="campoDatos"for="repassword"name="repassword">
                              <p>Confirma tu contraseña</p>
                              <i class="fas fa-key"></i>
                              <input type="password"name="repassword"id="repassword">
                         </label>
                         <div class="error">
                              <small class="error"><%=(locals.errors && errors.repassword) ? errors.repassword.msg : ""%></small>
                         </div>
                    </div>

                    
               </div>


               <div class="avatar">
                    <label class="campoDatos" for="avatar"name="avatar">
                         <p>Subí tu imagen de perfil</p>
                         <i class="fas fa-image"></i>
                         <input type="file" name="avatar"id="avatar">
                    </label>
               </div>

               <div class="checkbox">
                    <label class="legal"for="legal"name="legal">
                         <input type="checkbox" value="Si" name="legal" id="legal" value="<%= (typeof datosYaCargados != 'undefined' && !errors.legal) ? datosYaCargados.legal : ""%>">
                         Acepto la
                         <a href="">Política de privacidad de datos</a> y los <a href="">Términos y condiciones.</a>
                    </label>

                    <div class="error legal">
                         <small class="error "><%=(locals.errors && errors.legal) ? errors.legal.msg : ""%></small>
                    </div>

                    <label class="newsletter"for="newsletter"name="newsletter">
                         <input type="checkbox" value="Si" name="newsletter" id="newsletter" checked>
                         Acepto que me manden mails promocionales.
                    </label>
                    <label for="remember">
                         <input type="checkbox" name="remember" value="remember" id="remember" checked>
                         Mantener la sesión iniciada
                    </label>
               </div>
               
               

               <div class="submit">
                    <button type="submit" class="usuario registro"> 
                         <i class="fas fa-sign-in-alt"></i>  Registrarse
                    </button>
               </div>

               <p>o</p>
               
          </form>

          <div class="redes">
               <button class="google" type="submit" value="Google"><i class="fab fa-google"></i>  Google</button>
               <button class="facebook" type="submit" value="facebook"><i class="fab fa-facebook"></i>  Facebook</button>
          </div>
          
     </div>
</section>