<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('./partials/head') %>
     </head>

<body>
    <%- include('./partials/header') %>
    <main class="detalleProducto">
        <div class="rutaProducto">
            <ul>
                <li><a href="#">/ <%= categoria.nombre_categoria %></a></li>
                <li><a href="#">/ <%= producto.modelo %></a></li>
            </ul>
        </div>
        <div class="contenedorDetalle">
            <div class="panelIzquierdo">
                <section class="vidriera">
                    <div class="imagenes">
                        <div class="botonIzq">
                            <button><a href=""><i class="fas fa-arrow-left"></i></a></button>
                        </div>
                        
                        <div class="img_principal"><img src= <%= `/images/fotosProductos/${producto.imagen_1}` %>   alt="<%= producto.imagen_1 %>"></div>

                        <div class="botonDer">
                            
                            <button><a href=""><i class="fas fa-arrow-right"></i></a></button>
                        </div>
                    </div>
                </section>
                <section class="caracteristicasProducto">
                    <h3><Descripción del producto></h3>
                    <h4>Talla</h4>
                    <p>El/la modelo mide x y lleva talle <%= producto.talle.nombre %></p>
                    <h4>Modelo</h4>
                    <p> <%= producto.modelo %>  </p>
                    <h4>Composicion</h4>
                    <p><%= producto.composicion %></p>
                    <h4>Art. N°</h4>
                    <p><%= producto.sku %></p>
                    <div class="opinionTalles">
                        <h4>Talle según XX opiniones</h4>
                        <img src="/images/medidorTalles.jpg" alt="">
                    </div>
                </section>
            </div>
            <div class="panelDerecho" id="contenedor-detalle">
                    <h2><%= producto.nombre %>&emsp;&emsp;<a href=""><i class="far fa-heart"></i></a></h2>
                    <h2>$<%= producto.precio %></h2>
                    <p class="medios_de_pago">Hasta en <strong>12 cuotas sin interés</strong> con los mejores bancos </p>
                    <br>
                    <p><strong>Colores/Diseños</strong></strong></p>
                    <div class="coloresProducto">
                        <div class="miniatura"><a href="#"><img src="/images/producto1/miniaturaRemeraLisaNegra.jpeg" alt="color1"></a></div>
                        <div class="miniatura"><a href="#"><img src="/images/producto1/miniaturaRemeraLisaBordo.jpeg"alt="color2"></a></div>
                        <div class="miniatura"><a href="#"><img src="/images/producto1/miniaturaRemeraLisaVerde.jpeg" alt="color3"></a></div>
                        <button><i class="fas fa-arrow-right"></i></button>
                    </div>
                    <div class="seleccionTalles">
                        <select name="seleccionTalles" id="seleccionTalles">
                                   <option value="selecTalle" selected disabled hidden>Seleccioná tu talle</option>
                                   <option value="XS">XS</option>
                                   <option value="S">S</option>
                                   <option value="M">M</option>
                                   <option value="L">L</option>
                                   <option value="XL">XL</option>
                                   <option value="XXL">XXL</option>
                              </select>
                    </div>
                    <small><a href="#">Tabla de talles</a></small>
                    <a href="#" id="linkAgregarCarritoDetalle" class="boton" data-id-producto="<%= producto.id_producto %>" data-producto="<%=JSON.stringify(producto)%>"><i class="fas fa-shopping-bag"></i>&emsp;Añadir</a>
                    <ul>
                        <li><i class="far fa-check-circle"></i>&ensp;Envíos gratis a todo el país</li>
                        <li><i class="far fa-check-circle"></i>&ensp;Devoluciones gratuitas</li>
                    </ul>
            </div>
        </div>


        <%- include ('./partials/componentes/carrousel') %> 



    </main>


    <footer>
        <%- include('./partials/footer') %>
   </footer>
   
</body>

</html>

